<component name="libraryTable">
  <library name="springframework.spring.orm" type="repository">
    <properties maven-id="org.springframework:spring-orm:6.0.7" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-orm/6.0.7/spring-orm-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.0.7/spring-beans-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.0.7/spring-core-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.0.7/spring-jcl-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jdbc/6.0.7/spring-jdbc-6.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-tx/6.0.7/spring-tx-6.0.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>