<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Практическая задача 2.3.1 Java pre-project. Задача 2.3.1. Spring MVC + Hibernate.</title>
</head>
<body>
<h1>Практическая задача 2.3.1 Java pre-project. Задача 2.3.1. Spring MVC + Hibernate.</h1>
<a href="new">Create new user</a>
<div th:each="user : ${users}">
    <a th:href="@{/show(id=${user.getId()})}"
       th:text="${user.getName() + ', ' + user.getAge()+', '+user.getEmail()}">user</a>
</div>

<br/>
<hr/>




</body>
</html>