<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <p th:text="${user.getName() + ', ' + user.getAge()}">VALUE</p>
  <p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
  <p th:text="${user.getId()}">VALUE</p>

  <a th:href="@{/edit(id=${user.getId()})}">Edit</a>

  <form th:method="POST" th:action="@{/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
  </form>
</div>
</body>
</html>