<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <table border="1">
    <tr><td>ID</td><td th:text="${user.getId()}"></td></tr>
    <tr><td>Имя</td><td th:text="${user.getFirstName()}"></td></tr>
    <tr><td>Фамилия</td><td th:text="${user.getLastName()}"></td></tr>
    <tr><td>Возраст</td><td th:text="${user.getAge()}"></td></tr>
    <tr><td>E-mail</td><td th:text="${user.getEmail()}"></td></tr>
  </table>
  <a th:href="@{/edit(id=${user.getId()})}">Редактировать</a>
  <form th:method="POST" text="Удалить" th:action="@{/delete(id=${user.getId()})}">
    <input type="submit" onclick="return confirm('Вы действительно хотите удалить этого пользователя!?')" value="Delete"/>
  </form>
  <a th:href="@{/}">На главную</a>

</div>
</body>
</html>